<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Gmail Suite" verbose="1" >
    <test name="Login" >
        <classes>
            <class name="by.softclub.tsarik.gmail.TestGmailLogin"/>
        </classes>
    </test>
    <test name="Logout" >
        <classes>
            <class name="by.softclub.tsarik.gmail.TestGmailLogout"/>
        </classes>
    </test>
    <test name="Send Message" >
        <classes>
            <class name="by.softclub.tsarik.gmail.TestGmailSendMessage"/>
        </classes>
    </test>
</suite>